# 25 Python Exercises: Tuples
Solve each task in the code cell below its description. No solutions are provided.

## 1) Tuple basics and indexing

Create a tuple and demonstrate accessing the first and last elements.

In [3]:
# Your code here
def first_last(tup:tuple) -> int:
    return tup[0], tup[-1]
# You may write helper functions and tests below.
assert first_last((1,2,3)) == (1,3)

## 2) Unpacking with starred

Unpack a 5-element tuple into first, *middle, last.

In [5]:
# Your code here
def upacking(tup):
    first, *middle,last=tup
    return first, middle, last

# You may write helper functions and tests below.
assert upacking((10, 20, 30, 40, 50)) == (10, [20, 30, 40], 50)

## 3) Swap variables

Swap two variables using tuple unpacking.

In [6]:
# Your code here
def swap(tup):
    if len(tup)==2:
        a,b = tup
        a,b = b,a
        return a,b
    else:
        raise "Tuple length must be 2"
# You may write helper functions and tests below.
assert swap((1,2)) == (2,1)

## 4) Concatenation and repetition

Concatenate two tuples and repeat a tuple n times.

In [7]:
# Your code here
def concat_repeat(tup1:tuple, tup2:tuple, n: int):
    new_tup = tup1+tup2
    new_tup_1 = new_tup * n
    return new_tup_1

# You may write helper functions and tests below.
assert concat_repeat((1,2), (3,4), 2) == (1,2,3,4,1,2,3,4)

## 5) count() and index()

Use tuple.count and tuple.index on a sample tuple and print results.

In [12]:
# Your code here
def count_and_index(tup: tuple, n:int):
    return tup.count(n), tup.index(n)

# You may write helper functions and tests below.
assert count_and_index((1,2,3), 2) == (1,1)
assert count_and_index((1,2,3), 3) == (1,2)
assert count_and_index((1,2,3,1,4,1), 1) == (3,0)

## 6) Membership test

Check whether a value exists within a tuple and whether another does not.

In [ ]:
# Your code here
# You may write helper functions and tests below.

## 7) List <-> Tuple conversion

Convert a list to a tuple and back to a list.

In [14]:
# Your code here
def list_tup_conversion(lst):
    return list(tuple(lst))

# You may write helper functions and tests below.
assert list_tup_conversion([1,2,3]) == [1,2,3]

## 8) Flatten tuple of tuples

Flatten a tuple of tuples into a single tuple.

In [13]:
# Your code here
def flatten(tup):
    flat = tuple(x for sub in tup for x in sub)
    return flat
# You may write helper functions and tests below.
assert flatten(((1, 2), (3, 4), (5,))) == (1, 2, 3, 4, 5)

## 9) namedtuple demo

Define a namedtuple 'Point(x, y)', create an instance, and access fields.

In [ ]:
# Your code here
# You may write helper functions and tests below.

## 10) Tuple as dict key

Use a tuple as a dictionary key and access the stored value.

In [ ]:
# Your code here
# You may write helper functions and tests below.

## 11) Sort list of tuples by 2nd element

Given a list of (key, value) tuples, sort by the second element.

In [ ]:
# Your code here
# You may write helper functions and tests below.

## 12) Multiple assignment from list of tuples

Iterate a list of (key, value) tuples and print 'key=value'.

In [ ]:
# Your code here
# You may write helper functions and tests below.

## 13) Function returns tuple

Write a function that returns (min_value, max_value) for a numeric list.

In [ ]:
# Your code here
# You may write helper functions and tests below.

## 14) zip -> list of tuples

Combine two lists into a list of tuples using zip.

In [ ]:
# Your code here
# You may write helper functions and tests below.

## 15) enumerate -> (index, value) tuples

Use enumerate to iterate characters with 1-based indices.

In [ ]:
# Your code here
# You may write helper functions and tests below.

## 16) Tuple comparison (lexicographic)

Compare two tuples lexicographically and print the result.

In [ ]:
# Your code here
# You may write helper functions and tests below.

## 17) Immutability demonstration

Show that tuples are immutable by attempting an item assignment (expect error).

In [ ]:
# Your code here
# You may write helper functions and tests below.

## 18) Slicing tuples

Slice a tuple to select every second element from a range.

In [ ]:
# Your code here
# You may write helper functions and tests below.

## 19) Generator -> tuple()

Build a tuple from a generator (e.g., squares of 0..n).

In [ ]:
# Your code here
# You may write helper functions and tests below.

## 20) Replace element via new tuple

Replace one element by creating a new tuple using slicing and concatenation.

In [ ]:
# Your code here
# You may write helper functions and tests below.

## 21) Unique tuples using set

Remove duplicate tuples from a list using set.

In [ ]:
# Your code here
# You may write helper functions and tests below.

## 22) Cartesian product

Create the Cartesian product of two small sequences as a list of tuples.

In [ ]:
# Your code here
# You may write helper functions and tests below.

## 23) Unzip list of tuples

Given a list of pairs, unzip into two separate lists.

In [ ]:
# Your code here
# You may write helper functions and tests below.

## 24) *args is a tuple

Write a function that prints its *args and their type.

In [ ]:
# Your code here
# You may write helper functions and tests below.

## 25) namedtuple defaults and _replace

Give a namedtuple default values and create a modified copy with _replace.

In [ ]:
# Your code here
# You may write helper functions and tests below.